# APP
ENVIRONMENT= # local, dev, staging or prod
PORT=3333

# DATABASE
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

# JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# Storage
STORAGE_DIR=
ORIGINALS_DIR=
SEGMENTS_DIR=
MODEL_FILES_DIR=

# Scripts
SCRIPT_DIR=
CONDA_ENV=
